
<div class="row">
    <div class="col-xs-3" id="boxPC">

    </div>
</div>
<div class="row">
    <div class="col-xs-12" id="boxTree">

    </div>
</div>
<div id="boxModal">

</div>
@section scripts{
    <script src="~/modules/Parking/Tree.js"></script>
    <script src="~/modules/Signalr.js"></script>
    <script>


        $(document).ready(function () {


        });
    </script>
}
