@model Kztek_Library.Models.SelectListModel_Chosen

<div class="row" style="padding-top:15px;">
    <h3 class="header smaller lighter blue">
       Danh sách PC
    </h3>

    @await Component.InvokeAsync("ChosenSelect", Model)

</div>