@using Kztek_Model.Models
@model List<tbl_Event_Submit>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
<div class="col-md-4">
    <div class="bcard h-100 d-flex align-items-center p-3">
      
        <div class="ml-3">
            <div class="infobox-container">

                <div class="infobox infobox-red" style="width:unset;border:unset;height:unset">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-car"></i>
                    </div>
                  
                </div>
            </div>
            <div class="pos-rel">
                <p class="text-dark-tp3" style="font-size:50px;text-align:center!important;font-weight:bold">@item.event_Number.ToString("000")</p>
             
                <p class="text-dark-tp3" style="font-size:50px;text-align:center!important;font-weight:bold">@item.plate_Number1</p>
            </div>
            @*@if (!string.IsNullOrEmpty(item.event_DateTime_Service))
        {
            <div class="text-dark-tp4" style="font-size:30px">@Convert.ToDateTime(item.event_DateTime_Service).ToString("dd/MM/yyyy HH:mm:ss")</div>
        }*@
            <div class="text-dark-tp4" style="font-size:30px">
               
                @if (!string.IsNullOrEmpty(item.event_DateTime_Service))
                {
        <p>@Convert.ToDateTime(item.event_DateTime_Service).ToString("dd/MM/yyyy HH:mm:ss")</p>}

            </div>
        </div>


    </div>
</div>}
            }
